/* .toolkit { */
/* flex-shrink: 0; */
/* height: 100%; */
/* width: 10vh; */
/* border-left: 0; */
/* border-right: 0.2px, solid, lightcyan; */
/* background-color: #7289da50; */
/* z-index: 0; */
/* } */

.agenda {
	width: 90%;
	background-color: rgba(140, 170, 200, 5);
	margin: 0 auto;
	border-radius: 20%;
	overflow: hidden;
}

.study {
	width: 90%;
	background-color: rgba(140, 170, 200, 5);
	margin: 0 auto;
	border-radius: 20%;
	overflow: hidden;
}

.tool {
	height: 10vh;
	width: 100%;
	border-radius: 20%;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tool-focused {
	height: 10vh;
	width: 100%;
	border-radius: 20%;
	margin-top: 30px;
	display: flex;
	background: navy;
	align-items: center;
	justify-content: center;
}
